body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:12px;
  width:70px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:120px;
  top:10px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:30px;
  top:90px;
  width:250px;
  height:30px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:30px;
  top:140px;
  width:250px;
  height:30px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10 {
  position:absolute;
  left:30px;
  top:190px;
  width:250px;
  height:30px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:30px;
  top:245px;
  width:250px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
  position:absolute;
  left:10px;
  top:12px;
  width:70px;
  height:25px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6.a {
}
#u6_img.a {
}
#u7.a {
}
#u8.a {
  position:absolute;
  left:30px;
  top:90px;
  width:250px;
  height:30px;
}
#u8_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9.a {
  position:absolute;
  left:30px;
  top:140px;
  width:250px;
  height:30px;
}
#u9_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10.a {
  position:absolute;
  left:30px;
  top:190px;
  width:250px;
  height:30px;
}
#u10_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11.a {
  position:absolute;
  left:30px;
  top:245px;
  width:250px;
  height:25px;
}
#u11_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
