body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:12px;
  width:70px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:120px;
  top:10px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:60px;
  width:290px;
  height:210px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:210px;
}
#u9 {
  position:absolute;
  left:2px;
  top:97px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:290px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:10px;
  top:324px;
  width:27px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:10px;
  top:356px;
  width:27px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:10px;
  top:388px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:10px;
  top:444px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
  position:absolute;
  left:10px;
  top:12px;
  width:70px;
  height:25px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6.a {
}
#u6_img.a {
}
#u7.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
