body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:12px;
  width:60px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:249px;
  top:12px;
  width:60px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8 {
  position:absolute;
  left:0px;
  top:875px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:10px;
  top:850px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10 {
  position:absolute;
  left:20px;
  top:860px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:30px;
  top:870px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:40px;
  top:880px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:120px;
  top:7px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:50px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:10px;
  width:60px;
  height:70px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u19 {
  position:absolute;
  left:2px;
  top:27px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:80px;
  top:10px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:80px;
  top:36px;
  width:107px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:210px;
  top:60px;
  width:100px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u25 {
  position:absolute;
  left:210px;
  top:25px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:0px;
  top:150px;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u28 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:10px;
  top:10px;
  width:60px;
  height:70px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u30 {
  position:absolute;
  left:2px;
  top:27px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:80px;
  top:10px;
  width:53px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:80px;
  top:36px;
  width:107px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:210px;
  top:60px;
  width:100px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36 {
  position:absolute;
  left:210px;
  top:25px;
  width:100px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
  position:absolute;
  left:10px;
  top:12px;
  width:60px;
  height:25px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6.a {
  position:absolute;
  left:249px;
  top:12px;
  width:60px;
  height:25px;
}
#u6_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7.a {
  position:absolute;
  left:0px;
  top:420px;
  width:320px;
  height:60px;
}
#u8.a {
  position:absolute;
  left:0px;
  top:420px;
  width:64px;
  height:60px;
}
#u8_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9.a {
  position:absolute;
  left:64px;
  top:420px;
  width:64px;
  height:60px;
}
#u9_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10.a {
  position:absolute;
  left:128px;
  top:420px;
  width:64px;
  height:60px;
}
#u10_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11.a {
  position:absolute;
  left:192px;
  top:420px;
  width:64px;
  height:60px;
}
#u11_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12.a {
  position:absolute;
  left:256px;
  top:420px;
  width:64px;
  height:60px;
}
#u12_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13.a {
}
#u13_img.a {
}
#u14.a {
}
#u15.a {
  position:absolute;
  left:0px;
  top:50px;
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u20_img.a {
}
#u21.a {
}
#u22.a {
}
#u22_img.a {
}
#u23.a {
}
#u24.a {
  position:absolute;
  left:210px;
  top:60px;
  width:100px;
  height:25px;
}
#u24_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u25.a {
  position:absolute;
  left:210px;
  top:25px;
  width:100px;
  height:25px;
}
#u25_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26.a {
  position:absolute;
  left:0px;
  top:150px;
}
#u27.a {
}
#u29.a {
}
#u31.a {
}
#u31_img.a {
}
#u32.a {
}
#u33.a {
}
#u33_img.a {
}
#u34.a {
}
#u35.a {
  position:absolute;
  left:210px;
  top:60px;
  width:100px;
  height:25px;
}
#u35_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36.a {
  position:absolute;
  left:210px;
  top:25px;
  width:100px;
  height:25px;
}
#u36_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
