body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:505px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:12px;
  width:60px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:249px;
  top:12px;
  width:60px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8 {
  position:absolute;
  left:0px;
  top:875px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:10px;
  top:850px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10 {
  position:absolute;
  left:20px;
  top:860px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:30px;
  top:870px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:40px;
  top:880px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:348px;
  top:94px;
  width:157px;
  height:32px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:55px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:135px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:135px;
}
#u17 {
  position:absolute;
  left:2px;
  top:60px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:18px;
  top:12px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:18px;
  top:38px;
  width:262px;
  height:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:24px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:18px;
  top:62px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:18px;
  top:88px;
  width:154px;
  height:37px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:37px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:140px;
  top:10px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:200px;
  width:320px;
  height:220px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:220px;
}
#u29 {
  position:absolute;
  left:2px;
  top:102px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:18px;
  top:210px;
  width:53px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:236px;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:104px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:104px;
}
#u34 {
  position:absolute;
  left:2px;
  top:44px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:18px;
  top:8px;
  width:40px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:18px;
  top:34px;
  width:40px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:18px;
  top:60px;
  width:197px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:505px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
  position:absolute;
  left:10px;
  top:12px;
  width:60px;
  height:25px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6.a {
  position:absolute;
  left:249px;
  top:12px;
  width:60px;
  height:25px;
}
#u6_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7.a {
  position:absolute;
  left:0px;
  top:420px;
  width:320px;
  height:60px;
}
#u8.a {
  position:absolute;
  left:0px;
  top:420px;
  width:64px;
  height:60px;
}
#u8_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9.a {
  position:absolute;
  left:64px;
  top:420px;
  width:64px;
  height:60px;
}
#u9_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10.a {
  position:absolute;
  left:128px;
  top:420px;
  width:64px;
  height:60px;
}
#u10_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11.a {
  position:absolute;
  left:192px;
  top:420px;
  width:64px;
  height:60px;
}
#u11_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12.a {
  position:absolute;
  left:256px;
  top:420px;
  width:64px;
  height:60px;
}
#u12_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13.a {
}
#u13_img.a {
}
#u14.a {
}
#u15.a {
  position:absolute;
  left:0px;
  top:55px;
}
#u16.a {
}
#u18.a {
}
#u18_img.a {
}
#u19.a {
}
#u20.a {
}
#u22.a {
}
#u22_img.a {
}
#u23.a {
}
#u24.a {
  width:150px;
}
#u24_img.a {
  width:150px;
}
#u25.a {
}
#u26.a {
}
#u26_img.a {
}
#u27.a {
}
#u28.a {
}
#u30.a {
}
#u30_img.a {
}
#u31.a {
}
#u32.a {
  position:absolute;
  left:0px;
  top:236px;
}
#u33.a {
}
#u35.a {
}
#u35_img.a {
}
#u36.a {
}
#u37.a {
}
#u37_img.a {
}
#u38.a {
}
#u39.a {
}
#u39_img.a {
}
#u40.a {
}
